/* Autor: Pablo Diehl - https://gitlab.com/u/pablodiehl - http://pablodiehl.xyz */

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.block { 
  display: block;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-rev {
  flex-direction: row-reverse;
}

.fa {
  flex: 0 0 auto;
  margin-left: 5%;
}

.f5 {
  flex: 0 0 5%;
}

.f25 {
  flex: 0 0 25%;
}

.f30 {
  flex: 0 0 30%;
}

.f35 {
  flex: 0 0 35%;
}

.f45 {
  flex: 0 0 45%;
}

.f50 {
  flex: 0 0 50%;
}

.f65 {
  flex: 0 0 65%;
}

.f80 {
  flex: 0 0 80%;
}

.f100 {
  flex: 0 0 100%;
}

.fs8 {
  font-size: 0.8rem;
}

.fs125 {
  font-size: 1.25rem;
}

.fs16 {
  font-size: 1.6rem;
}

.fs10 {
  font-size: 1rem;
}

.fstyi {
  font-style: italic;
}

.mga {
  margin: auto;
}

.is15 {
  height: 1.5rem;
  width: auto;
}

.is2 {
  height: 2rem;
  opacity: 0.9;
  width: auto;
}

.is2:hover{
  opacity: 1;
}

.im33 {
  width: 30%;
}

.jcfe {
  justify-content: flex-end;
}

.jcfs {
  justify-content: flex-start;
  align-items:flex-start;
}

.mb25 {
  margin-bottom: 2.5rem;
}

.pb02 {
  padding-bottom: 0.2rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pbt025 {
  padding: 0.25rem 0;
}

.pbt05 {
  padding: 0.5rem 0;
}

.tc {
  text-align: center;
}

.tj {
  text-align: justify;
}

.tr {
  text-align: right;
}

.ttu {
  text-transform: uppercase;
}

.vb {
  vertical-align: bottom; 
}

.vm {
  vertical-align: middle;
}

.w80 {
  width: 80%;
}

.w100 {
  width: 100%;
  margin: auto;
}

@media all and (max-width: 600px){
  .fa {
    margin-left: 0;
  }
  
  .flex {
    flex-direction: column;
  }
  
  .raic {
    align-items: center;
  }
  
  .rtc {
    text-align: center;
  }
  
  .pbt05 {
    padding-left: 0.25rem;
  }
  
  .w80 {
    width: 100%;
  }
}

@media all and (max-width: 400px){
  .fs16 {
    font-size: 1.2rem;
  }
}