/* Autor: Pablo Diehl - https://gitlab.com/u/pablodiehl - http://pablodiehl.xyz */
* {
  padding: 0;
  margin: 0;
}

body {
  color: black;
  font-family: 'OrkneyRegular';
  font-weight: normal;
  font-style: normal; 
}

.bgg {
  background: #2D9961;
}

.bgb {
  background: #222;
}

.bg333 {
  background: #333;
}

.c000 {
  color: #000;
}

.c000hts:hover{
  text-shadow: 0px -5px 15px #fff;
}

.c2d9 {
  color: #2D9961;
}

.caaa{
  color: #aaa;
}

.destaque {
  padding-top: 1rem;
}

h1 {
  margin-top: 1rem;
}

.bar {
  padding-top: 1rem;
}

.jogo {
  margin-top: 1.25rem;
  padding-left: 2%;
  padding-right: 2%;
}

.jogo a {
  color:  #aaa;
}

.jogo a:hover {
  color: #ccc;
}

.jogo img {
  border-radius: 5px;
  max-width: 97%;
}

.jogo p {
  margin-bottom: 1rem;
}

#logo img {
  padding: 1vh 0;
  width: 90%;
}

#menu a {
  padding: 2vh 0; 
}

.tdn {
  text-decoration: none;
}

.tdn:hover {
  text-decoration: underline;
}

@media all and (max-width: 600px){
  .bgw {
    background: transparent;
  }
  
  .jogo img {
    max-width: 100%;
  }
    
  #logo img {
    display: block;
    margin: auto;
    width: 80%;
  }
}